<html>
<head>
    <title>OpenLayerer</title>
    <script type='text/javascript' src='js/jquery.min.js'></script>
    <script type='text/javascript' src='js/json2.js'></script>
    <script type='text/javascript' src='js/site.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='style/site.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class='wrapper'>
  <div class='header'>
    <h1>OpenLayerer</h1>

    <p>Make custom versions of <a href='http://www.openlayers.org'>OpenLayers</a>
    which include only the parts that
    you want to use. Currently we're baking up OpenLayers
    <em>2.9.1</em>, the latest stable release.</p>
  </div>
  <table id='recipes'>
    <tr>
      <th>
        Recipes
      </th>
      <td class='recipe'>
        <h2>OpenStreetMap Minimal</h2>
        <p>For when you just want OpenStreetMap.</p>
        <div class='dl'>
            <a href="/recipes/OpenLayers_osm.js">&#8679; 315KB</a>
        </div>
      </td>
    </tr>
  </table>
  <div class='clearfix version' id='trunk'>
    <form action='/openlayerer' method='POST'>
      <input type="hidden" id="onPostBack" name="onPostBack"/>
      <div id='select-all'><input type='checkbox' id='select-all-box'> Select All</div>
      <div id='options-grid'>
        {% for opts in release_29 %}
        <fieldset class='grid_2'>
          <legend>{{ opts.name }}</legend>
          {% for o in opts.options %}
          <div>
            <input title='{{ o.requires|reqlist }}'
              type='checkbox'
              id='{{ o.filepath }}'
              name='{{ opts.type }}'
              class='item'
              value='{{ o.filepath }}'/>
            <label for='{{ o.filepath }}'>{{ o.filepath|friendly_name }}</label>
            <a class='docs-link' title='Documentation' href='{{ o.filepath|trunk_link }}'>?</a>
          </div>
          {% endfor %}
        </fieldset>
        {% endfor %}
      </div>
      <div class='generate-form'>
      <input class='generate_button' type='submit'
        id="buttonGenerate" value='Generate OpenLayers.js'/>
      <input class='generate_button' type='submit'
        id="buttonSaveConfiguration" value='Save Openlayers.conf'/>
      <br />
      <br />
      <textarea rows='4' cols='20' id='config'></textarea>
      <button class='generate_button'
          id='load-config'>Load Configuration</button>
      </div>
    </form>
  </div>
  </div>
<div class='footer' class='grid_12'>
      [Version 5.0e] 2010 - <a href='http://www.developmentseed.org/'>
          Development Seed</a>. Send feedback to
      macwright@gmail.com | 
      <a href='http://www.padovaboy.it/Blog/LastPosts.aspx'>Tweaks from PadovaBoy</a>
  </div>

</body>
</html>
